.drawer {
    top: 0; 
    left: 0; 
    width: 250px; 
    height: 100%; 
    background-color: #333; 
    color: white; 
    padding: 20px; 
    transition: transform 0.3s; 
    transform: translateX(-100%); 
}

.button {
    top: 20px; 
    left: 20px; 
    width: 50px; 
    height: 50px; 
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 50%; 
    font-size: 30px;
    cursor: pointer;
}
