@font-face {
    font-family: 'Gabarito Regular';
    src: url(https://lucmsilva651.github.io/website-files/fonts/Gabarito-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url(https://lucmsilva651.github.io/website-files/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Inter Variable';
    src: url(https://lucmsilva651.github.io/website-files/fonts/Inter-VariableFont.ttf);
}